.jumbotron{
	background-color:yellow;
	color:black;
	margin-top:50px;
	

}

.tab-content{
	padding-top:10px;
}

footer{
	padding:10px 10px 0 10px;
	background-color:yellow;
	margin-bottom:0px;	
	margin-bottom:0px;
	margin-top:70px;

	
}

.card-hotel{
	flex:1 200px;
	margin-top:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	
}
h4{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:15px;
	
}

.btn-reserva{
	width:100%;
	border-radius:0;
	
	
}


.footer-adress-icon{
	padding-right:10px;
	
	
}
