.jumbotron{
     background-color:navy;
	color: white;
	margin-top:50px;
	

}
.btn{
	background-color:green;
color: white;
}
.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }
}
footer{
padding-top:500px;
  padding-bottom: 0px;
  padding: 10px 10px 0 10px;
  padding-right: 10px;
  margin-top: 10px;
	 background-color:navy;
	color: white;
	
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
		margin-top: 10px;
		  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  background-color:pink; }
  

h4 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 15px; }
}
.btn-reserva{
	width:100%;
	
}
.list{
    text-align: left;
    display:inline-block;
	margin-top: 100px;
}
.footer-adress-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px; }

	