.jumbotron {
  background-color: #fbff23;
  color: #0f0b0b;
  margin-top: 50px;
  margin-bottom: 0px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }

footer {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: #fbff23;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  background-color: #f9fad6; }

h4 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 15px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-adress-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px; }
